// SCSS変数・定数
// プロジェクト全体で使用する変数をここに定義してください
$viewport_pc: 2560; // 基準となるビューポート
$viewport_tab: 2048; // 基準となるビューポート
$viewport_sp: 720; // 基準となるビューポート

$breakpoint-tablet-up: 744px;
$breakpoint-desktop-up: 1024px;

// フォント
$font-didot: "Didot", serif;
$font-noto-serif-jp: "Noto Serif JP", serif;
